<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>/home.html</title>
</head>
<body>
	<div class="container">
		<div sec:authorize="isAuthenticated()">
			<a sec:authentication="name" th:href="@{/user/info}"></a> 님 로그인중
			<a th:href="@{/user/logout}">로그아웃</a>
		</div>
		<div sec:authorize="!isAuthenticated()">
			<a th:href="@{/user/signup_form}">회원가입</a>
			<a th:href="@{/user/loginform}">로그인</a>
		</div>
		
		<h1>인덱스 페이지 입니다</h1>
		
		<ul>
			<li><a th:href="@{/gallery/list}">갤러리</a></li>
			<li><a th:href="@{/cafe/list}">글 목록(Me)</a></li>
			<li><a th:href="@{/teacher/cafe/list}">글 목록(T)</a></li>
			<li><a th:href="@{/test/dragdrop.html}">drag and drop 테스트</a></li>
			<li><a th:href="@{/file/list}">자료실</a></li>
			<li><a th:href="@{/teacher/file/list}">자료실(T)</a></li>
		</ul>
		
		<h3>공지 사항</h3>
		<ul>
			<li th:each="tmp : ${notice}">[[${tmp}]]</li>
		</ul>
	</div>
</body>
</html>






