<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>/cafe/detail.html</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<style>
	.content {
		border-radius: 5px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	}
	
	.comment-form, .re-insert-form {
		display: flex;
	}
	
	.comment-form textarea, .re-insert-form textarea {
		height: 100px;
		flex-grow: 1;
	}
	
	.comment-form button, .re-insert-form button {
		flex-basis: 100px;
	}
	
	/* 대댓글 폼은 일단 숨겨놓는다. */
	.re-insert-form {
		display: none;
	}
</style>
</head>
<body>
	<div class = "container">
		<nav>
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
		    <li class="breadcrumb-item"><a th:href="@{/teacher/cafe/list}">Cafe</a></li>
		    <li class="breadcrumb-item active">Detail</li>
		  </ol>
		</nav>
		<a th:if="${dto.prevNum ne 0}" th:href="@{/teacher/cafe/detail(num=${dto.prevNum}, condition=${dto.condition}, keyword=${dto.keyword})}">이전 글</a>
		<a th:if="${dto.nextNum ne 0}" th:href="@{/teacher/cafe/detail(num=${dto.nextNum}, condition=${dto.condition}, keyword=${dto.keyword})}">다음 글</a>
		<p th:if="${not #strings.isEmpty(dto.keyword)}">
			<strong>[[${dto.condition}]]</strong> 조건			
			<strong>[[${dto.keyword}]]</strong>	검색어로 검색된 내용
		</p>
		
		<h3>글 상세 보기</h3>
		<table class="table table-bordered">
			<tr>
				<th>글번호</th>
				<td>[[${dto.num}]]</td>
			</tr>
			<tr>
				<th>작성자</th>
				<td>[[${dto.writer}]]</td>
			</tr>
			<tr>
				<th>제목</th>
				<td>[[${dto.title}]]</td>
			</tr>
			<tr>
				<th>조회수</th>
				<td>[[${dto.viewCount}]]</td>	
			</tr>
			<tr>
				<th>작성일</th>
				<td th:text="${dto.regdate}"></td>
			</tr>
		</table>
		<div class="content mb-3">[(${dto.content})] </div>
		<!-- <div class="content mb-3" th:utext="${dto.content}"> </div> -->

		<th:block th:if="${dto.writer eq userName}">
			<a class="btn btn-outline-success btn-sm" th:href="@{'/teacher/cafe/updateform?num=' + ${dto.num}}">수정</a>
			<a class="btn btn-outline-danger btn-sm" href="javascript:" onclick="deleteConfirm()">삭제</a>
			<script th:inline="javascript">
				
				let userName = [[${userName}]];
				let dto = [[${dto}]];
				let contextPath = [[@{/}]].replace("\\", ""); // 역슬래시 제거
				let contextPath2 = "[(@{/})]";
				
				function deleteConfirm(){
					const isDelete = confirm("이 글을 삭제 하겠습니까?");
					if (isDelete) {
						//javascript 를 이용해서 페이지 이동 시키기 
						location.href = contextPath + "teacher/cafe/delete?num=[[${dto.num}]]";
					}
				}
			</script>
		</th:block>
		
		
		<h4>댓글을 입력해주세요</h4>
		<!-- 원글에 댓글을 작성할 폼 -->
		<form class="comment-form" th:action="@{/teacher/cafe/comment_insert}" method="post">
			<!-- 원글의 글번호가 댓글의 ref_group 번호가 된다. -->
			<input type="hidden" name="ref_group" th:value="${dto.num}" />
			<!-- 원글의 작성자가 댓글의 대상자가 된다. -->
			<input type="hidden" name="target_id" th:value="${dto.writer}" />
			<textarea name="content">[[${session.userName == null ? "댓글 작성을 위해 로그인이 필요합니다." : ""}]]</textarea>
			<button type="submit">등록</button>
		</form>
		
		<!-- 댓글 목록 -->
		<div class="comments">
			<ul>
				<li th:each="tmp: ${commentList}">
					<dl>
						<dt>
							<span th:text="${tmp.writer}"></span>
							<span th:text="${tmp.regdate}"></span>
							<a th:attr="data-num=${tmp.num}" class="reply-link" href="javascript:">답글</a>
						</dt>
						<dd>
							<pre>[[${tmp.content}]]</pre>
						</dd>
					</dl>
					<!-- 댓글의 댓글 작성할 폼 미리 출력 -->
					<form th:id="'reForm' + ${tmp.num}" class="re-insert-form" th:action="@{/teacher/cafe/comment_insert}" method="post">
						<input type="hidden" name="ref_group" th:value="${dto.num}" />
						<input type="hidden" name="target_id" th:value="${tmp.writer}" />
						<input type="hidden" name="comment_group" th:value="${tmp.comment_group}" />
						<textarea name="content"></textarea>
						<button type="submit">등록</button>
					</form>
				</li>
			</ul>
		</div>
	</div>
	
	<script>
		const replyLinks = document.querySelectorAll(".reply-link");
		// 반복문 돌면서 모든 링크에 이벤트 리스너 함수 등록
		replyLinks.forEach(item => {
			item.addEventListener("click", e => {
				// 클릭한 a 요소의 data-num 속성의 value 값을 읽어온다.
				const num = e.target.getAttribute("data-num");
				// 보여주거나 숨길 form의 참조값 얻어내기
				const form = document.querySelector("#reForm" + num);
				if (e.target.innerText.includes("취소")) {
					form.style.display = "none";
					e.target.innerText = "답글";
				} else if (e.target.innerText.includes("답글")) {
					// 보이게 하기
					form.style.display = "flex";
					e.target.innerText = "취소";
				}
			});
		});
	</script>
</body>
</html>