<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>/cafe/list.html</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<nav>
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
		    <li class="breadcrumb-item active">Cafe</li>
		  </ol>
		</nav>
		
		<h1>카페 목록</h1>
		
		<a th:href="@{/cafe/insert_form}">글 작성</a>
		
		<div th:replace="~{/cafe/includeList :: listTable}"></div>
	</div>
</body>
</html>