<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cafeComment">
	<!-- 댓글을 저장할때 댓글의 글번호도 미리 CafeCommentDto 객체에 담아 와야 한다. -->
	<insert id="insert" parameterType="cafeCommentDto">
		INSERT INTO board_cafe_comment
		(<include refid="select" />)
		VALUES(#{num}, #{writer}, #{content}, #{target_id}, #{ref_group},
			#{comment_group}, SYSDATE)
	</insert>
	
	<!-- 저장 예정인 댓글의 글번호를 미리 얻어내기 -->
	<select id="getSequence" resultType="int">
		SELECT board_cafe_comment_seq.NEXTVAL
		FROM DUAL
	</select>
	
	<select id="getList" parameterType="cafeCommentDto" resultType="cafeCommentDto">
		SELECT num, writer, content, target_id, ref_group, comment_group, 
			deleted, board_cafe_comment.regdate, profile
		FROM board_cafe_comment
		JOIN user_tbl
			ON board_cafe_comment.writer = user_tbl.userName
		WHERE ref_group=#{ref_group}
		ORDER BY comment_group ASC, num ASC
	</select>
	
	<sql id="select">
		num, writer, content, target_id, ref_group, comment_group, regdate
	</sql>
</mapper>