<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tcafe">
	<sql id="search">
		<choose>
			<when test="condition == 'title_content'">
				WHERE title LIKE '%'||#{keyword}||'%' OR content LIKE '%'||#{keyword}||'%'
			</when>
			<when test="condition == 'title'">
				WHERE title LIKE '%'||#{keyword}||'%'
			</when>
			<when test="condition == 'writer'">
				WHERE writer LIKE '%'||#{keyword}||'%'
			</when>
		</choose>
	</sql>
	
	<sql id="column">
		num, writer, title, content, viewCount, regdate
	</sql>

	<update id="update" parameterType="tcafeDto">
		UPDATE board_cafe
		SET title=#{title}, content=#{content}
		WHERE num=#{num}
	</update>

	<insert id="insert" parameterType="tcafeDto">
		INSERT INTO board_cafe
		(<include refid="column" />)
		VALUES (board_cafe_seq.NEXTVAL, #{writer}, #{title}, #{content}, 0, SYSDATE)
	</insert>
	
	<select id="getData" parameterType="int" resultType="tcafeDto">
		SELECT <include refid="column" />
		FROM board_cafe
		WHERE num=#{num}
	</select>

	<select id="getDetail" parameterType="tcafeDto" resultType="tcafeDto">
		SELECT *
		FROM 
			(SELECT <include refid="column" />,
				LAG(num, 1, 0) OVER (ORDER BY num DESC) prevNum,
				LEAD(num, 1, 0) OVER (ORDER BY num DESC) nextNum
			FROM board_cafe
			<include refid="search" />
			ORDER BY num DESC)
		WHERE num=#{num}
	</select>

	<select id="getList" parameterType="tcafeDto" resultType="tcafeDto">
		SELECT *
		FROM
			(SELECT result1.*, ROWNUM AS rnum
			FROM
				(SELECT <include refid="column" />
				FROM board_cafe
				<include refid="search" />
				ORDER BY num DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>

	<select id="getCount" parameterType="cafeDto" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM board_cafe
		<include refid="search"/>
	</select>
	
	<delete id="delete" parameterType="int">
		DELETE FROM board_cafe
		WHERE num=#{num}
	</delete>
</mapper>